<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bairutai.sinaweibo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="getui.permission.GetuiService.com.bairutai.sinaweibo" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    
    <!-- 读联系人权限 -->  
    <uses-permission android:name="android.permission.READ_CONTACTS" />  
    <!-- 写联系人权限 -->  
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />  
    <!-- 拨号权限 -->  
    <uses-permission android:name="android.permission.CALL_PHONE" />  
    <!-- 读短信权限 -->  
    <uses-permission android:name="android.permission.READ_SMS" />  
    
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <permission
        android:name="getui.permission.GetuiService.com.bairutai.sinaweibo"
        android:protectionLevel="normal" >
    </permission>

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name="com.bairutai.application.WeiboApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".LogoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AuthorizeActivity" />
        <activity android:name=".WBAuthActivity" />
        <activity android:name= ".ContactActivity"
             android:theme="@style/My_ActionBar">
       </activity>
        <activity
            android:name=".SendActivity"
            android:theme="@style/My_ActionBar"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity
            android:name=".SearchLocationActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".LocationActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".AddActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".ChatActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".InfoOfQRActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".StatusActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MyHomePageActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MipcaActivityCapture"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MyFirstPageActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MySettingActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MyMessageActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".SearchActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MyFansListActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".WebExploreActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".EditDescriptionActivity"
            android:theme="@style/My_ActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" >
        </activity>
        <activity
            android:name=".MyBaseInfoActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".ImageExploreActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".My_MoreActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MyContactActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MycardActivity"
            android:theme="@style/My_ActionBar" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="Zfed00kp7lYBI2qD9RACO0pe" />

        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.bairutai.Service.MyService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.bairutai.action.MyService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <!-- 个推SDK配置开始 -->
        <!-- 配置第三方应用参数属性 -->
        <meta-data
            android:name="PUSH_APPID"
            android:value="4CBoHZXCdl9aQQaQ5Ivgu4" /> <!-- 替换为第三方应用的APPID -->
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="PuCP2rAlwr8GTjMBpKQ6D9" /> <!-- 替换为第三方应用的APPKEY -->
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="1hghM6oZ5b5T5QLSQOjTh2" /> <!-- 替换为第三方应用的APPSECRET -->
        <meta-data
            android:name="PUSH_GROUPID"
            android:value="" />
        <!-- 配置SDK核心服务 -->
        <service
            android:name="com.igexin.sdk.PushService"
            android:exported="true"
            android:label="NotificationCenter"
            android:process=":pushservice" >
        </service>

        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下四项为可选的action声明，可大大提高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.igexin.sdk.PushManagerReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.pushmanager" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <!-- 配置弹框activity -->
        <activity
            android:name="com.igexin.getuiext.activity.GetuiExtActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="android.task.myServicetask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.igexin.getuiext.service.PayloadReceiver"
            android:exported="false" >
            <intent-filter>

                <!-- 这个com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4固定，不能修改 -->
                <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4" />
                <!-- 替换为android:name="com.igexin.sdk.action.第三方的appId" -->
                <action android:name="com.igexin.sdk.action.4CBoHZXCdl9aQQaQ5Ivgu4" />
            </intent-filter>
        </receiver>
        <!-- 配置第三方Receiver -->
        <receiver
            android:name="com.bairutai.BroadcastReceiver.MessageReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.igexin.sdk.action.4CBoHZXCdl9aQQaQ5Ivgu4" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.igexin.getuiext.service.GetuiExtService"
            android:process=":pushservice" />
        <!-- 个推download模块配置 -->
        <service
            android:name="com.igexin.download.DownloadService"
            android:process=":pushservice" />

        <receiver android:name="com.igexin.download.DownloadReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <provider
            android:name="com.igexin.download.DownloadProvider"
            android:authorities="downloads.com.bairutai.sinaweibo"
            android:process=":pushservice" /> <!-- 替换为downloads.第三方包名 -->
        <!-- =========================================================================== -->
    </application>

</manifest>