<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bairutai.sinaweibo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.bairutai.application.WeiboApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name=".LogoActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AuthorizeActivity" >
        </activity>
        <activity android:name=".WBAuthActivity" />
        <activity android:name=".MyHomePageActivity" />
        <activity
            android:name=".My_MoreActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MainActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MyContactActivity"
            android:theme="@style/My_ActionBar" >
        </activity>
        <activity
            android:name=".MycardActivity"
            android:theme="@style/My_ActionBar" >
        </activity>

        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <service
            android:name="com.bairutai.sinaweibo.MyService"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.bairutai.action.MyService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>